# Chapter 1 exercise solutions

5. Compute the area of a triangle with base 10 and height 12. Recall that the area of a triangle is half
the base times the height.

In [9]:
area = 0.5*10*12
print(area)

60.0

6. Compute the surface area and volume of a cylinder with radius 5 and height 3.

In [10]:
import math as m

In [11]:
r = 5
h = 3
vol = m.pi*r*r*h
sa = 2*m.pi*r*h + 2*m.pi*r*r
print("volume = ", vol)
print("surface area = ", sa)

volume =  235.61944901923448
surface area =  251.32741228718345

7. Compute the slope between the points (3, 4) and (5, 9).

In [12]:
point1 = (3,4)
point2 = (5,9)
slope = (point2[1]-point1[1])/(point2[0]-point1[0])
print(slope)

2.5

8. Compute the distance between the points (3, 4) and (5, 9).

In [13]:
point1 = (3,4)
point2 = (5,9)
dist = m.sqrt ((point2[0]-point1[0])**2 + (point2[1]-point1[1])**2)
print(dist)

5.385164807134504

9. Use Python’s factorial function to compute 6!

In [14]:
m.factorial(6)

720

10. Although a year is considered to be 365 days long, a more exact figure is 365.24 days. As a
consequence, if we held to the standard 365-day year, we would gradually lose that fraction of the
day over time, and seasons and other astronomical events would not occur as expected. To keep
the timescale on tract, a leap year is a year that includes an extra day, February 29, to keep the
timescale on track. Leap years occur on years that are exactly divisible by 4, unless it is exactly
divisible by 100, unless it is divisible by 400. For example, the year 2004 is a leap year, the year
1900 is not a leap year, and the year 2000 is a leap year. Compute the number of leap years between
the years 1500 and 2010.

In [15]:
count = 0
for i in range (1500, 2001):
    if i%400==0:
        count+=1
    elif i%100==0:
        pass
    elif i%4==0:
        count+=1
    else:
        pass

print(count)

122

11. A very powerful approximation for π was developed by a brilliant mathematician named Srinivasa
Ramanujan. The approximation is the following:
$$
\frac{1}{\pi} \approx \frac{2\sqrt{2}}{9801} \sum_{k=0}^{N} \frac{(4k)!(1103 + 26390k)}{(k!)^4 396^{4k}}
$$

Use Ramanujan’s formula for N = 0 and N = 1 to approximate π. Compare your approximation
with Python’s stored value for π

In [21]:
#for k=0, storing the value of the expression inside sigma in k0
k0 = 1103

def find_pi(N):
    sum = k0
    for k in range (1, N+1):
        x=(m.factorial(4*k)*(1103 + 26390*k))/(m.pow(m.factorial(k),4)*m.pow(396,4*k))
        sum+=x
    pi = 9801/((2*m.sqrt(2)*sum))
    return pi

print("for N=0 approx value of pi we get is:", find_pi(0))
print("the difference between this value and python's value for pi is:", abs(m.pi-find_pi(0)))
print("for N=1 approx value of pi we get is:", find_pi(1))
print("the difference between this value and python's value for pi is:", abs(m.pi-find_pi(1)))

for N=0 approx value of pi we get is: 3.1415927300133055
the difference between this value and python's value for pi is: 7.642351240733092e-08
for N=1 approx value of pi we get is: 3.141592653589794
the difference between this value and python's value for pi is: 8.881784197001252e-16

12. Compute sinh for x = 2 using exponentials. Verify that the result is indeed the hyperbolic sin using Python’s function sinh in the math module.

In [22]:
x = 2
sinh_formula = (m.exp(x)-m.exp(-x))/2
print("sinh(2) by formula:", sinh_formula)
print("sinh(2) using python's inbuilt function:", m.sinh(2))

sinh(2) by formula: 3.626860407847019
sinh(2) using python's inbuilt function: 3.6268604078470186

13. Verify that $\sin^2(x) + \cos^2(x) = 1$ for x = π, π/2 , π/4 , π/6 .

In [29]:
def verify(x):
    verified = "verified"
    not_verified = "not verified"
    result = m.sin(x)**2 + m.cos(x)**2
    final = round(result, 5)
    if final == 1.00000:
        return verified
    else:
        return not_verified
    
print(verify(m.pi))
print(verify(m.pi/2))
print(verify(m.pi/4))
print(verify(m.pi/6))

verified
verified
verified
verified

14. Compute the sin 87°.

In [30]:
m.sin(m.radians(87))

0.9986295347545738

15. Write a Python statement that generates the following error: “AttributeError: module ‘math’ has
no attribute ‘sni’.” Hint: sni is a misspelling of the function sin.

In [31]:
m.sni(5)

AttributeError: module 'math' has no attribute 'sni'

16. Write a Python statement that generates the following error: “TypeError: sin() takes exactly one
argument (0 given).”

In [32]:
m.sin()

TypeError: math.sin() takes exactly one argument (0 given)

17. If P is a logical expression, the law of noncontradiction states that P AND (NOT P) is always false.
Verify this for P true and P false.

In [33]:
def evaluate(p):
    return p and (not p)
print(evaluate(True))
print(evaluate(False))

False
False

18. Let P and Q be logical expressions. De Morgan’s rule states that NOT (P OR Q) = (NOT P) AND
(NOT Q) and NOT (P AND Q) = (NOT P) OR (NOT Q). Generate the truth tables for each
statement to show that De Morgan’s rule is always true.

In [36]:
def statement_1(p,q):
    return (not p) and (not q)
def statement_2(p,q):
    return (not p) or (not q)
t = True
f = False
print("for statement 1:")
print(t, t, statement_1(t,t) , not(t or t))
print(t, f, statement_1(t,f) , not(t or f))
print(f, t, statement_1(f,t) , not(f or t))
print(f, f, statement_1(f,f) , not(f or f))
print("for statement 2:")
print(t, t, statement_2(t,t) , not(t and t))
print(t, f, statement_2(t,f) , not(t and f))
print(f, t, statement_2(f,t) , not(f and t))
print(f, f, statement_2(f,f) , not(f and f))

for statement 1:
True True False False
True False False False
False True False False
False False True True
for statement 2:
True True False False
True False True True
False True True True
False False True True

19. Under what conditions for P and Q is (P AND Q) OR (P AND (NOT Q)) false?

In [37]:
def compute(p, q):
    return (p and q) or (p and (not q))
l = [True, False]
for p in l:
    for q in l:
        if compute(p,q)==False:
            print("P = ", p, "Q = ", q)

P =  False Q =  True
P =  False Q =  False

20. Construct an equivalent logical expression for OR using only AND and NOT

In [39]:
P=False
q=True
not((not p) and (not q))

True

21. Construct an equivalent logical expression for AND using only OR and NOT

In [40]:
P=False
q=True
not((not p) or (not q))

False

22. Construct an equivalent logical expression for XOR using only AND, OR, and NOT

In [41]:
P=False
q=True
(p and (not q)) or (q and (not p))

True

23. Do the following calculation at the Python command prompt:
$$ e^2 \sin\left(\frac{\pi}{6}\right) + \log_e(3) \cos\left(\frac{\pi}{9}\right) - 5^3 $$

In [42]:
m.exp(2)*m.sin(m.pi/6) + m.log(3)*m.cos(m.pi/9) - m.pow(5,3)

-120.27311408976854

24. Do the following logical and comparison operations at the Python command prompt. You may
assume that P and Q are logical expressions. For P = 1 and Q = 1, compute NOT(P) AND
NOT(Q). For a = 10 and b = 25, compute (a < b) AND (a = b).

In [43]:
p = 1
q = 1
print((not p) and (not q))
a = 10
b = 25
print((a<b) and (a==b))

False
False